name: Continuous Integration
on: [push]
jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: node-modules-cache

      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 16.x

      - name: Install Dependencies
        run: cd backend && npm i

      - name: Build Project
        run: cd backend && npm i && npm run build

      - name: Generate Artifact
        run: cd backend/build && zip -r artifact.zip ./

      - name: Store Artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-artifact
          path: backend/build/artifact.zip`
